
<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#/">Home</a></li>
    <li><a ng-href="#/config">Configuraçao</a></li>
  </ul>
  <h3 class="text-muted">palavras</h3>
</div>

<div class="jumbotron">
  <h1>Palavras</h1>
  <p class="lead">
    <p>Pontos: {{score}}</p>
    <p ng-show="endGame == true">Fim de Jogo</p>
    <span style="display:none">{{wordName}}</span>
    <span style="display:none">{{win}}</span>
    <img ng-src="images/objetos/{{wordNameNormalized}}.jpg" width="200" alt="{{wordName}}">

    <input type="text" data-response ng-model="responseOne" ng-change="checkWord()" /><br>
    <span ng-repeat="letter in response">
      <input type="text" ng-model="letter.letter" class="input-sm" size="2" maxlength="1" ng-change="checkLetter(this)" />
    </span>
  </p>
  <p><button class="btn btn-lg" ng-class="{ 'btn-success': win == true, 'btn-error': win == false }" ng-click="nextWord();">Próxima!</button></p>
</div>


<div class="footer">
  <p>Kids</p>
</div>
